.pagination {
  margin-top: var(--spacing-4xl);
  padding-top: var(--spacing-2xl);
  border-top: 1px solid var(--color-border-dark);
  text-align: left;
  display: flex;
  justify-content: center;
}

.pageNumbers {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-light);
}

.currentPage {
  font-weight: var(--font-weight-bold);
}

.pageLink {
  color: var(--color-text-light);
  text-decoration: none;
  padding: 0 var(--spacing-sm);
}

.pageLink:hover {
  color: var(--color-link-secondary);
}

.prevLink {
  color: var(--color-text-light);
  text-decoration: none;
}

.prevLink:hover {
  color: var(--color-link-secondary);
}

.nextLink {
  color: var(--color-text-light);
  text-decoration: none;
}

.nextLink:hover {
  color: var(--color-link-secondary);
}
