:root {
  /* Color Scheme */
  --color-light-blue: #73cde4;
  --color-med-blue: #4a99bc;
  --color-dark-blue: #175b8b;

  /* Typography */
  --font-body: var(--font-lato);
  --font-mono: "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas,
    monospace;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8125rem;
  color: hsl(0 0% 29.8%);
  background-color: hsl(225, 100%, 96%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.9375rem;
  line-height: 2.75rem;
  color: hsl(0 0% 9.804%);
}

h2 {
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: hsl(0 0% 9.804%);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: hsl(0 0% 9.804%);
}

h4 {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: hsl(0 0% 9.804%);
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(0 0% 9.804%);
}

h6 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: hsl(0 0% 9.804%);
}

.container {
  max-width: 1036px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  padding: 0 1rem;
}

.containerNarrow {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .containerNarrow {
    padding: 0 1.25rem;
  }
}

main {
  min-height: calc(100vh - 300px);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(0 0% 100%);
  background-color: var(--color-med-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start;
}

.button:hover:not(:disabled) {
  background-color: var(--color-dark-blue);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttonGradient {
  border: 1px solid #52a0cd;
  border-bottom-color: #418fbc;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  font-family: inherit;
  cursor: pointer;
  width: fit-content;
  padding: 0.318em 0.918em;
  line-height: 1.618em;
  border-radius: 9999999px;
  background-color: #63b1de;
  background-image: linear-gradient(to bottom, #63b1de, #418fbc);
  box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.2);
}

.buttonGradient:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px hsl(0, 0%, 0%, 0.2);
}

figure {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  width: 300px;
  margin: 0;
  padding: 0.5rem;
  display: block;
  overflow: hidden;
  box-shadow: 0 2px 8px #0000000d;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 60%);
  font-family: var(--font-body);
  line-height: 1.5rem;
  white-space: nowrap;
  border-right: 1px solid hsl(0, 0%, 90%);
  height: fit-content;
  padding: 1rem 1rem 2rem 0;
  max-width: 200px;
}

.metadata .author,
.metadata .categories,
.metadata .comments {
  color: hsl(0, 0%, 30%);
  max-width: 130px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadata .author {
  font-weight: 400;
}

.metadata a {
  color: hsl(0, 0%, 30%);
  text-decoration: none;
}

.metadata a:hover {
  color: hsl(210, 100%, 40%);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .metadata {
    order: 2;
  }
}
