:root {
  /* Color Scheme */
  --color-light-blue: #73cde4;
  --color-med-blue: #4a99bc;
  --color-dark-blue: #175b8b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
