:root {
  /* Color Scheme */
  --color-light-blue: #73cde4;
  --color-med-blue: #4a99bc;
  --color-dark-blue: #175b8b;

  /* Typography */
  --font-body: var(--font-lato);
  --font-mono: "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas, monospace;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8125rem;
  color: hsl(0 0% 29.8%);
  background-color: hsl(0, 0%, 98%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.9375rem;
  line-height: 2.75rem;
  color: hsl(0 0% 9.804%);
}

h2 {
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: hsl(0 0% 9.804%);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: hsl(0 0% 9.804%);
}

h4 {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: hsl(0 0% 9.804%);
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(0 0% 9.804%);
}

h6 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: hsl(0 0% 9.804%);
}

main {
  min-height: calc(100vh - 300px);
}
